
body{
  background-image: url('./Images/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  background-attachment: fixed;
  z-index: -1;
}